@{
    Layout = null;
}

<div class="easyui-accordion" data-options="fit:true,border:false">
    
    
@foreach (var item in Model)
{
    <div title="@item.Text" data-options="selected:false" style="overflow: auto; padding: 10px;">
        <ul class="mb">
            @foreach (var ii in item.Items)
            {
                <li><a onclick=" showFunction('@ii.Text', '@ii.Url'); " class="fa fa-exclamation-circle fa-2x">@ii.Text</a></li>
            }

        </ul>
    </div>
}
</div>